@import "../../index.scss";

.navbar
{
   margin-bottom:  10px !important;
}


nav ul li{
    display: inline;
    padding: 1em 1em;
    text-transform: capitalize;
   text-align: center;
  
}
nav ul li a{
   
   text-align: center;
   text-decoration: none;
   font-size: 1.5em;
   color: white;
  
}

nav img
{
    grid-column: 1/3;
    padding: 1em 1em;
    margin: 5px;
    margin-top: 15px;
}

.active
{
    color:#03f8fc;
}